.inputs1{
    width: 80%;
    height: 35px;
    border-radius: 3px;
    color: #000;
    background-color:   #f4f6f6  ;
    
}
.inputs2{
    position: relative;
    display: flex;
    width: 80%;
    height: 35px;
    border-radius: 3px;
    color: #000;
    background-color:   #f4f6f6  ;
    margin-left: 32px;
}
.login{
    width: 82%;
    height: 45px;
    border-radius: 5px;
    color: #fff;
    background-color:   #3498db  ;
   
    
}
.cap1{
    font-size: 10px;
}
.fbtext{
    color:  #2e86c1 ;
    font-size: 13px;
    display: inline;
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}
.container{
    margin-top: 20px;
}
.eye{
    position: absolute;
    top: 25%;
    color:   #abb2b9  ;
    left: 80%;
   
}